<!DOCTYPE html>
<html lang="{{@site.locale}}">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{meta_title}}</title>
    <link rel="stylesheet" href="{{asset "built/screen.css"}}">

    {{{block "styles"}}}

    {{ghost_head}}
</head>

<body class="{{body_class}}{{#match @custom.title_font "=" "Elegant serif"}} has-serif-title{{/match}}{{#match @custom.body_font "=" "Elegant serif"}} has-serif-body{{/match}}">
    <div class="site">
        <header class="site-header">
            <div class="navbar">
                <a class="logo" href="{{@site.url}}">
                    {{#if @site.logo}}
                        <img class="logo-image" src="{{@site.logo}}" alt="{{@site.title}}">
                    {{else}}
                        <span class="logo-text">{{@site.title}}</span>
                    {{/if}}
                </a>
                <div class="burger"></div>
            </div>
        </header>

        <div class="site-content">
            {{{body}}}
        </div>

        <footer class="site-footer">
            <div class="copyright">
                Powered by <a href="https://ghost.org/" target="_blank">Ghost</a>
            </div>

            <a class="logo" href="{{@site.url}}">
                {{#if @site.logo}}
                    <img class="logo-image" src="{{@site.logo}}" alt="{{@site.title}}">
                {{else}}
                    <span class="logo-text">{{@site.title}}</span>
                {{/if}}
            </a>

            <div class="footer-social">
                {{#if @site.facebook}}
                    <a class="footer-social-item" href="{{facebook_url @site.facebook}}" target="_blank" rel="noopener noreferrer">
                        <i class="icon icon-facebook"></i>
                    </a>
                {{/if}}
                {{#if @site.twitter}}
                    <a class="footer-social-item" href="{{twitter_url @site.twitter}}" target="_blank" rel="noopener noreferrer">
                        <i class="icon icon-twitter"></i>
                    </a>
                {{/if}}
                <a class="footer-social-item footer-social-item-rss" href="https://feedly.com/i/subscription/feed/{{@site.url}}/rss/" target="_blank" rel="noopener noreferrer">
                    <i class="icon icon-rss"></i>
                </a>
            </div>
        </footer>
    </div>

    <div class="dimmer"></div>

    <aside class="off-canvas">
        <div class="canvas-close">
            <i class="canvas-icon icon icon-window-close"></i>
        </div>

        {{#if @site.navigation}}
            <nav class="main-menu widget">
                {{navigation}}
            </nav>
        {{/if}}

        <div class="widget widget-recent">
            <h4 class="widget-title">Recent Posts</h4>
            {{#get "posts" limit="3" include="tags" as |recents|}}
                {{#if recents}}
                <div class="recent-posts">
                    {{#foreach recents}}
                    <article class="recent">
                        <header class="post-header">
                            <div class="post-meta">
                                <span class="post-meta-item post-meta-date">
                                    <time datetime="{{date format="YYYY-MM-DD"}}">{{date published_at}}</time>
                                </span>
                                {{#if featured}}
                                    <span class="post-meta-featured"><i class="icon icon-star"></i></span>
                                {{/if}}
                            </div>

                            <h5 class="post-title">
                                <a class="post-title-link" href="{{url}}">{{title}}</a>
                            </h5>
                        </header>
                    </article>
                    {{/foreach}}
                </div>
                {{/if}}
            {{/get}}
        </div>

        <section class="widget widget-links">
            <h4 class="widget-title">Useful Links</h4>
            {{navigation type="secondary"}}
        </section>
    </aside>

    <script>
        if (document.getElementsByClassName('tag-feed').length) {
            document.getElementsByClassName('tag-feed')[0].style.height = window.innerHeight + 'px';
        }
    </script>

    <script
        src="https://code.jquery.com/jquery-3.5.1.min.js"
        integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
        crossorigin="anonymous">
    </script>
    <script src="{{asset "built/main.min.js"}}"></script>

    {{{block "scripts"}}}

    {{ghost_foot}}
</body>

</html>